:root {
    --bg-color: #7cffd2;
    --bg-cell-color: #6495f1;
    --bg-cell-bomb-color: #dd0c39;

    --cell-size: 50px;
}

main {
    background-color: var(--bg-color);
}

.grid_container .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_container .cell.clicked {
    background-color: var(--bg-cell-color);
    color: white;
}

.grid_container .cell.bomb {
    background-color: var(--bg-cell-bomb-colorbg-cell-bomb-col);
    color: white;
}